<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cities</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Tel Aviv</string>
			<key>Coordinate region</key>
			<string>{{32.075884267929773,34.781803439925113},{0.089035039592779697,0.06135781479082425}}</string>
		</dict>
	</array>
</dict>
</plist>
